@charset "utf-8";

@font-face {
  font-family: 'YoonDokrip';
  src: url('../font/YoonDokrip.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KOMACON';
  src: url('../font/KOMACON.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yangjin';
  src: url("../font/yangjin.woff");
  font-weight: normal;
  font-style: normal;
}/*양진체*/

@font-face {
  font-family: 'nanumsquare_r';
  src: url("../font/nanumsquare_r.woff");
  font-weight: normal;
  font-style: normal;
}/*나눔스퀘어라운드*/

@font-face {
  font-family: 'Atomy-Medium';
  src: url("../font/Atomy-Medium.woff");
  font-weight: normal;
  font-style: normal;
}/*애터미체*/

@font-face {
  font-family: 'HangeulNuriR';
  src: url("../font/HangeulNuriR.woff");
  font-weight: normal;
  font-style: normal;
}/*한글누리체*/

@font-face {
  font-family: 'bmhannaair';
  src: url("../font/bmhannaair.woff");
  font-weight: normal;
  font-style: normal;
}/*배민한나체*/

@@font-face {
  font-family: 'BMJUA';
  src: url("../font/BMJUA.woff");
  font-weight: normal;
  font-style: normal;
}/*배민한나체*/

@font-face {
  font-family: 'TmonMonsori';
  src: url("../font/TmonMonsori.woff");
  font-weight: normal;
  font-style: normal;
}/*몬소리체*/

@font-face {
  font-family: 'Jalnan';
  src: url("../font/Jalnan.woff");
  font-weight: normal;
  font-style: normal;
}/*잘난체*/

@font-face {
  font-family: 'headline';
  src: url("../font/headline.woff");
  font-weight: normal;
  font-style: normal;
}/*헤드라인*/

@font-face {
  font-family: 'NanumSquareRoundR';
  src: url("../font/NanumSquareRoundR.woff");
  font-weight: normal;
  font-style: normal;
}/*나눔스퀘어라운드*/

@font-face {
  font-family: 'JejuMyeongjo';
  src: url("../font/JejuMyeongjo.woff");
  font-weight: normal;
  font-style: normal;
}/*제주명조*/

@font-face {
  font-family: 'Binggrae';
  src: url("../font/Binggrae.woff");
  font-weight: normal;
  font-style: normal;
}/*빙그레*/

@font-face {
  font-family: 'BinggraeBold';
  src: url("../font/BinggraeBold.woff");
  font-weight: normal;
  font-style: normal;
}/*빙그레Bold*/

@font-face {
  font-family: 'JejuMuseumb';
  src: url("../font/JejuMuseumb.woff");
  font-weight: normal;
  font-style: normal;
}/*제주박물관b*/

@font-face {
  font-family: 'JejuMuseuml';
  src: url("../font/JejuMuseuml.woff");
  font-weight: normal;
  font-style: normal;
}/*제주박물관l*/

@font-face{
  font-family: 'bmeuljiro';
  src: url("../font/bmeuljiro.woff");
  font-weight: normal;
  font-style: normal;
}/*배민 을지로체*/

@font-face{
  font-family: 'stencil';
  src: url("../font/stencil.woff");
  font-weight: normal;
  font-style: normal;
}/*스텐실*/

@font-face{
  font-family: 'NanumPen';
  src: url("../font/NanumPen.woff");
  font-weight: normal;
  font-style: normal;
}/*나눔손글씨펜*/

@font-face{
  font-family: 'HSspringreeze';
  src: url("../font/HSspringreeze.woff");
  font-weight: normal;
  font-style: normal;
}/*봄바람체*/

@font-face{
  font-family: 'Binggrae2';
  src: url("../font/Binggrae2.woff");
  font-weight: normal;
  font-style: normal;
}/*빙그레2*/

@font-face{
  font-family: 'GodoB';
  src: url("../font/GodoB.woff");
  font-weight: normal;
  font-style: normal;
}/*고도b*/
@font-face{
  
  font-family: 'YES24';
  src: url("../font/YES24.woff");
  font-weight: normal;
  font-style: normal;
}/*yes25*/

@font-face{
  font-family: 'SSFlowerRoad';
  src: url("../font/SSFlowerRoadRegular.woff");
  font-weight: normal;
  font-style: normal;
}/*상상토끼*/

@font-face{
  font-family: 'Cafe24Ohsquare';
  src: url("../font/Cafe24Ohsquare.woff");
  font-weight: normal;
  font-style: normal;
}/*Cafe24Ohsquare*/

@font-face{
  font-family: 'Cafe24Dangdanghae';
  src: url("../font/Cafe24Dangdanghae.woff");
  font-weight: normal;
  font-style: normal;
}/*Cafe24Dangdanghae*/

@font-face{
  font-family: 'Cafe24Ssurround';
  src: url("../font/Cafe24Ssurround.woff");
  font-weight: normal;
  font-style: normal;
}/*Cafe24Ssurround*/

@font-face{
  font-family: 'Cafe24Lovingu';
  src: url("../font/Cafe24Lovingu.woff");
  font-weight: normal;
  font-style: normal;
}/*Cafe24Lovingu*/

@font-face{
  font-family: '116watermelon';
  src: url("../font/116watermelon.woff");
  font-weight: normal;
  font-style: normal;
}/*116watermelon*/

@font-face{
  font-family: 'MapoDPP';
  src: url("../font/MapoDPP.woff");
  font-weight: normal;
  font-style: normal;
}/*마포dpp*/

@font-face{
  font-family: 'Recipekorea';
  src: url("../font/Recipekorea.woff");
  font-weight: normal;
  font-style: normal;
}/*레시피코리아*/

@font-face{
  font-family: 'YoonManse';
  src: url("../font/YoonManse.woff");
  font-weight: normal;
  font-style: normal;
}/*만세*/

@font-face{
  font-family: 'Katuri';
  src: url("../font/Katuri.woff");
  font-weight: normal;
  font-style: normal;
}/*Katuri*/

@font-face{
  font-family: 'GmarketSans_l';
  src: url("../font/GmarketSansTTFLight.woff");
  font-weight: normal;
  font-style: normal;
}/*지마켓l*/

@font-face{
  font-family: 'GmarketSans_b';
  src: url("../font/GmarketSansTTFBold.woff");
  font-weight: normal;
  font-style: normal;
}/*지마켓b*/

@font-face{
  font-family: 'GmarketSans_m';
  src: url("../font/GmarketSansTTFMedium.woff");
  font-weight: normal;
  font-style: normal;
}/*지마켓m*/

@font-face{
  font-family: 'MapoAgape';
  src: url("../font/MapoAgape.woff");
  font-weight: normal;
  font-style: normal;
}/*MapoAgape*/

@font-face{
  font-family: 'KHNPHanuoolim';
  src: url("../font/KHNPHanuoolim.woff");
  font-weight: normal;
  font-style: normal;
}/*KHNPHanuoolim*/

@font-face{
  font-family: 'KHNPHandotu';
  src: url("../font/KHNPHandotu.woff");
  font-weight: normal;
  font-style: normal;
}/*KHNPHandotu*/

@font-face{
  font-family: 'Cafe24Danjunghae';
  src: url("../font/Cafe24Danjunghae.woff");
  font-weight: normal;
  font-style: normal;
}/*Cafe24Danjunghae*/

@font-face{
  font-family: 'Cafe24Shiningstar';
  src: url("../font/Cafe24Shiningstar.woff");
  font-weight: normal;
  font-style: normal;
}/*Cafe24Shiningstar*/


@font-face{
  font-family: 'Cafe24Simplehae';
  src: url("../font/Cafe24Simplehae.woff");
  font-weight: normal;
  font-style: normal;
}/*Cafe24Simplehae*/

@font-face{
  font-family: 'tvNB';
  src: url("../font/tvN-Bold.woff");
  font-weight: normal;
  font-style: normal;
}/*tvNB*/

@font-face{
  font-family: 'tvNL';
  src: url("../font/tvN-Light.woff");
  font-weight: normal;
  font-style: normal;
}/*tvNL*/

@font-face{
  font-family: 'tvNM';
  src: url("../font/tvN-Medium.woff");
  font-weight: normal;
  font-style: normal;
}/*tvNM*/

@font-face{
  font-family: 'Cafe24Oneprettynight';
  src: url("../font/Cafe24Oneprettynight.woff");
  font-weight: normal;
  font-style: normal;
}/*Cafe24Oneprettynight*/

@font-face{
  font-family: 'SCDream2';
  src: url("../font/SCDream2.woff");
  font-weight: normal;
  font-style: normal;
}/*SCDream2*/

@font-face{
  font-family: 'SCDream3';
  src: url("../font/SCDream3.woff");
  font-weight: normal;
  font-style: normal;
}/*SCDream3*/

@font-face{
  font-family: 'SCDream4';
  src: url("../font/SCDream4.woff");
  font-weight: normal;
  font-style: normal;
}/*SCDream4*/

@font-face{
  font-family: 'SCDream5';
  src: url("../font/SCDream5.woff");
  font-weight: normal;
  font-style: normal;
}/*SCDream5*/

@font-face{
  font-family: 'SCDream6';
  src: url("../font/SCDream6.woff");
  font-weight: normal;
  font-style: normal;
}/*SCDream6*/

@font-face{
  font-family: 'SCDream7';
  src: url("../font/SCDream7.woff");
  font-weight: normal;
  font-style: normal;
}/*SCDream7*/

@font-face{
  font-family: 'SCDream8';
  src: url("../font/SCDream8.woff");
  font-weight: normal;
  font-style: normal;
}/*SCDream8*/

@font-face{
  font-family: 'SCDream9';
  src: url("../font/SCDream9.woff");
  font-weight: normal;
  font-style: normal;
}/*SCDream9*/

@font-face{
  font-family: 'Cafe24Ssukssuk';
  src: url("../font/Cafe24Ssukssuk.woff");
  font-weight: normal;
  font-style: normal;
}/*Cafe24Ssukssuk*/

@font-face{
  font-family: 'Cafe24Ssukssuk';
  src: url("../font/Cafe24Ssukssuk.woff");
  font-weight: normal;
  font-style: normal;
}/*Cafe24Ssukssuk*/

@font-face{
  font-family: 'Jalpullineunoneul';
  src: url("../font/Jalpullineunoneul.woff");
  font-weight: normal;
  font-style: normal;
}/*잘풀리는 오늘*/

@font-face{
  font-family: 'Jalpullineunharu';
  src: url("../font/Jalpullineunharu.woff");
  font-weight: normal;
  font-style: normal;
}/*잘풀리는 하루*/