/*common */
.none{
    display: none;
}
.section-title.align{
    text-align: center;
    font-family: 'noto-Medium';
    font-weight: bold;
    font-size: 2rem;
}
.section-sub.align{
    font-family: 'noto-Medium';
    text-align: center;
    font-size: 1.375rem;
    margin-top: 30px;
}
.section{
    padding-bottom: 100px;
}
.section:last-child{
    padding-bottom: 200px;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
/* header */
.header{
    height: 60px;
    background-color: rgb(245 245 245 / 81%);
    box-shadow: 0 1px 5px rgba(196,196,196,0.5);
}
.header .header-align{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.header-align .logo{
    width: 110px;
    height: 40px;
}
.header-align .right-menubox{
    display: flex;
}
.header-align .right-menubox .menu-btn{
    width: 30px;
    height: 30px;
    background-color: skyblue;
}
.header-align .right-menubox .menu-btn + .menu-btn{
    margin-left: 20px;
}
.align-wrap{
    width: 1280px;
    margin: 0 auto;
}
/* showroom-section */

.show-room-section .section-txt-box , .information-section .section-txt-box, .furnishing-section .section-txt-box{
    margin: 120px 0;
}

.show-room-section .contents-outter{
    display: flex;
}
.show-room-section .contents-outter .contents-long{
    width: 470px;
    height: 800px;
    overflow: hidden;
}
.show-room-section .contents-outter .contents-long a{
    display: block;
}
.show-room-section .contents-outter .double-wrap{
    margin-left: 30px;
    width: calc(100% - 30px);
    flex:1;
}
.show-room-section .contents-outter .contents-double a{
    display: block;
}
.show-room-section .contents-outter .contents-double + .contents-double{
    margin-top: 30px;
}
.show-room-section .contents-outter .contents-double:last-child{
    display: flex;
}
.show-room-section .contents-outter .contents-double .contents-single{
    width: calc((100% - 30px)/2);
}
.show-room-section .contents-outter .contents-double .contents-single + .contents-single{
    margin-left: 30px;
}
/* material-section */
.material-section{
    padding: 100px 0;
    background-color: #607769;
}
.material-section .contents-outter{
    display: flex;
    /* height: 786px; */
}
.material-section .contents-outter .contents-box{
    width: calc((100% - 60px)/3);
}
.material-section .contents-outter .contents-box + .contents-box{
    margin-left: 30px;
}
.material-section .contents-box .section-txt-outter{
    background-color: #F8F0E0;
    height: calc(69% - 30px);
    padding: 16px;
}
.material-section .contents-box .section-txt-outter .section-txt-box{
    border: 2px solid #607769;
    padding: 40px 30px;
    height: 100%;
}
.material-section .contents-box .section-txt-outter .section-txt-box .section-title{
    color: #4F6357;
    font-size: 1.75rem;
    font-weight: bold;
    padding-bottom: 30px;
    border-bottom: 2px solid #4F6357;
}
.material-section .contents-box .section-txt-outter .section-txt-box .section-sub{
    color: #4F6357;
    font-size: 1.375rem;
    padding-top: 40px;
}
.material-section .contents-box .content-material.small{
    margin-top: 30px;
}
.material-section .contents-box .content-material.single{
    height: calc((100% - 30px)/2);
}
.material-section .contents-box .content-material.single:last-child{
    margin-top: 30px;
} 
/* information-section */
.information-section .contents-info-outter{
    display: flex;
}
.information-section .contents-info-outter + .contents-info-outter{
    margin-top: 70px;
}
.information-section .contents-info-outter .info-imgbox{
    width:70%;
}
.information-section .contents-info-outter .info-txtbox{
    width: 30%;
    padding: 90px 0;
}
.information-section .info-txtbox .info-txt-title{
    font-size: 2rem;
    font-weight: bold;
    color: #4F6357;
}
.information-section .info-txtbox .info-txt-sub{
    font-size: 1.375rem;
    margin: 30px 0;
}
.information-section .info-txtbox .info.more-btn{
    padding: 0 30px;
    height: 50px;
    border: 2px solid #4F6357;
    font-size: 1.2rem;
    color: #4F6357;
    border-radius: 25px;
}
/* ikea-lab-section */
.ikea-lab-section{
    padding: 100px 0;
    background-color: #222B26;
}
.ikea-lab-section .section-txt-box > p{
    color: #fff;
}
.ikea-lab-section .contents-outter{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height: 420px;
}
.ikea-lab-section .lab-videobox{
    width: 60%;
}
.ikea-lab-section .lab-txtbox{
    width: 35%;
    background-color: #F8F0E0;
    padding: 16px;
}
.ikea-lab-section .lab-txtbox .section-txt-box{
    border: 2px solid #222B26;
    padding: 40px 30px;
    height: 100%;
}
.ikea-lab-section .lab-txtbox .lab-title{
    color: #222B26;
    font-weight: bold;
    font-size: 1.875rem;
}
.ikea-lab-section .lab-txtbox .lab-title + .lab-title{
    margin: 16px 0;
}
.ikea-lab-section .lab-txtbox .lab-sub{
    color: #222B26;
    font-size: 1.375rem;
    margin-bottom: 32px;
}
.ikea-lab-section .lab-txtbox .lab.more-btn{
    padding: 0 30px;
    height: 50px;
    border: 2px solid #222B26;
    font-size: 1.2rem;
    color: #222B26;
    border-radius: 25px;
}
/* furnishing-section */
.furnishing-section .contents-outter{
    display: flex;
    flex-wrap: wrap;
}
.furnishing-section .contents-outter .contents-box{
    width: calc((100% - 60px)/3);
}
.furnishing-section .contents-outter .contents-box a{
    display: block;
}
.furnishing-section .contents-outter .contents-box:nth-child(n+4){
    margin-top: 30px;
}
.furnishing-section .contents-outter .contents-box:nth-child(3n+2){
    margin-left: 30px;
    margin-right: 30px;
}
/* footer */
.footer{
    background-color: #B1B2A5;
    padding: 60px 0;
}