/*common */
.align-wrap{
    width: 1280px;
    margin: 0 auto;
}
.none{
    display: none;
}
.section-title.align{
    text-align: center;
    font-family: 'noto-Medium';
    font-weight: bold;
    font-size: 2rem;
}
.section-sub.align{
    font-family: 'noto-Medium';
    text-align: center;
    font-size: 1.375rem;
    margin-top: 30px;
}
.section{
    padding-bottom: 100px;
}
.section:last-child{
    padding-bottom: 200px;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.top-btn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #212932;
    cursor: pointer;
    opacity: 0;
    transition: all .5s ease;
}
.top-btn.on{
    opacity: 1;
}
.top-btn .arrow-box{
    background:url('../../img/arrow.png') no-repeat 0 0;
    background-size: contain;
    width: 12px;
    height: 7px;
    margin: 21px auto;
}
/* header */
.header{
    height: 60px;
    background-color: rgb(245 245 245 / 81%);
    box-shadow: 0 1px 5px rgba(196,196,196,0.5);
}
.header .header-align{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.header-align .logo{
    width: 110px;
    height: 40px;
}
.header-align .right-menubox{
    display: flex;
}
.header-align .right-menubox .menu-btn{
    width: 30px;
    height: 30px;
    background-color: skyblue;
}
.header-align .right-menubox .menu-btn + .menu-btn{
    margin-left: 20px;
}
.header-align .right-menubox .menu-btn.ham-btn{
    width: 34px;
}
/* side-menu */
.side-menu{
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background-color: #fff;
    padding: 60px;
    box-shadow: 0 6px 7px rgba(0, 0, 0, .5);
}
.side-menu .side-menu-up{
    margin-bottom: 40px;
}
.side-menu .side-menu-up li + li{
    margin-top: 16px;
}
.side-menu .side-menu-up li a{
    display: block;
    font-size: 1.375rem;
}
.sub-menu-btn.ham-btn{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: steelblue;
}
/* header-menu-trigger */
.menu-trigger,
.menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
}

.menu-trigger {
    width: 100%;
    height: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #444;
    border-radius: 4px;
    transition: transform .5s ease;
}
.menu-trigger .line-1 {
    top: 0;
}
.menu-trigger .line-2 {
    top: 13px;
}

.menu-trigger .line-3 {
    bottom: 0;
}
.toggle-active .line-1 {
    transform: rotate(-45deg);
    top: 50%;
}   
.toggle-active .line-2 {
    opacity: 0;
}
.toggle-active .line-3 {
    transform: rotate(45deg);
    top: 50%;
}
/* showroom-section */

.show-room-section .section-txt-box , .information-section .section-txt-box, .furnishing-section .section-txt-box{
    margin: 120px 0;
}

.show-room-section .contents-outter{
    display: flex;
}
.show-room-section .contents-outter .contents-long{
    width: 470px;
    height: 800px;
    overflow: hidden;
}
.show-room-section .contents-outter .contents-long a{
    display: block;
}
.show-room-section .contents-outter .double-wrap{
    margin-left: 30px;
    width: calc(100% - 30px);
    flex:1;
}
.show-room-section .contents-outter .contents-double a{
    display: block;
}
.show-room-section .contents-outter .contents-double + .contents-double{
    margin-top: 30px;
}
.show-room-section .contents-outter .contents-double:last-child{
    display: flex;
}
.show-room-section .contents-outter .contents-double .contents-single{
    width: calc((100% - 30px)/2);
}
.show-room-section .contents-outter .contents-double .contents-single + .contents-single{
    margin-left: 30px;
}
.show-room-section .show-room-txtbox{
    position: absolute;
    color: #fff;
}
.show-room-section .show-room-txtbox .show-room-sub{
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-family: 'noto-light';
}
.show-room-section .show-room-txtbox .show-room-title{
    font-size: 1.875rem;
    font-weight: bold;
}
.show-room-section .show-room-txtbox.bedroom{
    width: 100%;
    padding: 80px 50px;
    top: 0;
    left: 0;
}
.show-room-section .show-room-txtbox.bedroom .show-room-title{
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
}
.show-room-section .show-room-txtbox.livingroom{
    top: 0;
    right: 0;
    text-align: right;
    padding: 40px 50px;
}
.show-room-section .show-room-txtbox.livingroom .show-room-title{
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 2px solid #fff;
}
.show-room-section .show-room-txtbox.single{
    top: 0;
    right: 0;
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, .4);
    text-align: right;
}
.show-room-section .show-room-txtbox.single .show-room-sub{
    margin-bottom: 0;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 2px solid #fff;
}
.moveup{
    position: relative;
    transition: all .5s ease;
}
.moveup:hover{
    transform: translateY(-20px);
}

/* material-section */
.material-section{
    padding: 100px 0;
    background-color: #607769;
}
.material-section .contents-outter{
    display: flex;
    /* height: 786px; */
}
.material-section .contents-outter .contents-box{
    width: calc((100% - 60px)/3);
}
.material-section .contents-outter .contents-box + .contents-box{
    margin-left: 30px;
}
.material-section .contents-box .section-txt-outter{
    background-color: #F8F0E0;
    height: calc(69% - 30px);
    padding: 16px;
}
.material-section .contents-box .section-txt-outter .section-txt-box{
    border: 2px solid #607769;
    padding: 40px 30px;
    height: 100%;
}
.material-section .contents-box .section-txt-outter .section-txt-box .section-title{
    color: #4F6357;
    font-size: 1.75rem;
    font-weight: bold;
    padding-bottom: 30px;
    border-bottom: 2px solid #4F6357;
}
.material-section .contents-box .section-txt-outter .section-txt-box .section-sub{
    color: #4F6357;
    font-size: 1.375rem;
    padding-top: 40px;
}
.material-section .contents-box .content-material.small{
    margin-top: 30px;
}
.material-section .contents-box .content-material.single{
    height: calc((100% - 30px)/2);
}
.material-section .contents-box .content-material.single:last-child{
    margin-top: 30px;
} 
.material-section .content-material{
    position: relative;
    cursor: pointer;
}
.material-section .content-material:hover .material-txtbox{
    opacity: 1;
}
.material-section .content-material .material-txtbox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: right;
    padding: 50px;
    opacity: 0;
    transition: all .3s ease-in;
}
.material-section .content-material .material-txtbox .material-title{
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.material-section .content-material .material-txtbox .material-sub{
    font-size: 1.375rem;
}





/* information-section */
.information-section .contents-info-outter{
    display: flex;
}
.information-section .contents-info-outter + .contents-info-outter{
    margin-top: 70px;
}
.information-section .contents-info-outter .info-imgbox{
    width:70%;
}
.information-section .contents-info-outter .info-txtbox{
    width: 30%;
    padding: 90px 0;
}
.information-section .info-txtbox .info-txt-title{
    font-size: 2rem;
    font-weight: bold;
    color: #4F6357;
}
.information-section .info-txtbox .info-txt-sub{
    font-size: 1.375rem;
    margin: 30px 0;
}
.information-section .info-txtbox .info.more-btn{
    padding: 0 30px;
    height: 50px;
    border: 2px solid #4F6357;
    font-size: 1.2rem;
    color: #4F6357;
    border-radius: 25px;
}
.information-section .info-txtbox .info.more-btn:hover{
    background-color: #4F6357;
    color: #fff;
}
/* ikea-lab-section */
.ikea-lab-section{
    padding: 100px 0;
    background-color: #222B26;
}
.ikea-lab-section .section-txt-box > p{
    color: #fff;
}
.ikea-lab-section .contents-outter{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height: 420px;
}
.ikea-lab-section .lab-videobox{
    width: 60%;
}
.ikea-lab-section .lab-videobox iframe{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
}
.ikea-lab-section .lab-txtbox{
    width: 35%;
    background-color: #F8F0E0;
    padding: 16px;
}
.ikea-lab-section .lab-txtbox .section-txt-box{
    border: 2px solid #222B26;
    padding: 40px 30px;
    height: 100%;
}
.ikea-lab-section .lab-txtbox .lab-title{
    color: #222B26;
    font-weight: bold;
    font-size: 1.875rem;
}
.ikea-lab-section .lab-txtbox .lab-title + .lab-title{
    margin: 16px 0;
}
.ikea-lab-section .lab-txtbox .lab-sub{
    color: #222B26;
    font-size: 1.375rem;
    margin-bottom: 32px;
}
.ikea-lab-section .lab-txtbox .lab.more-btn{
    padding: 0 30px;
    height: 50px;
    border: 2px solid #222B26;
    font-size: 1.2rem;
    color: #222B26;
    border-radius: 25px;
}
.ikea-lab-section .lab-txtbox .lab.more-btn:hover{
    background-color: #222B26;
    color: #F8F0E0;
}
/* furnishing-section */
.furnishing-section .contents-outter{
    display: flex;
    flex-wrap: wrap;
}
.furnishing-section .contents-outter .contents-box{
    width: calc((100% - 60px)/3);
    position: relative;
}
.furnishing-section .contents-outter .contents-box .furnishing-txtbox{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 1.875rem;
    font-weight: bold;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, .4);
}
.furnishing-section .contents-outter .contents-box .furnishing-txtbox p{
    padding-bottom: 10px;
    padding-right: 20px;
    border-bottom: 3px solid #fff;
}
.furnishing-section .contents-outter .contents-box a{
    display: block;
}
.furnishing-section .contents-outter .contents-box:nth-child(n+4){
    margin-top: 30px;
}
.furnishing-section .contents-outter .contents-box:nth-child(3n+2){
    margin-left: 30px;
    margin-right: 30px;
}
/* footer */
.footer{
    background-color: #B1B2A5;
    padding: 60px 0;
}
.footer .footer-top{
    padding-bottom: 30px;
    border-bottom: 2px solid #1D1D1B;
}
.footer .footer-top .sns-outter{
    display: flex;
}
.footer .footer-top .sns-outter .sns-box{
    width: 40px;
    height: 40px;
}
.footer .footer-top .sns-outter .sns-box a{
    display: block;
}
.footer .footer-top .sns-outter .sns-box + .sns-box{
    margin-left: 20px;
}
.footer .footer-bottom{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.footer .footer-bottom-left .footer-copyright{
    margin-bottom: 20px;
    font-size: 0.875rem;
}
.footer .footer-bottom-left ul li{
    font-size: 0.875rem;;
}
.footer .footer-bottom-right{
    display: flex;
}
.footer .footer-bottom-right a{
    display: block;
}
.footer .footer-bottom-right a + a{
    margin-left: 20px;
}