/* common */
body{
    min-width: 1024px;
    overflow-x: auto;
    overflow-y: hidden;
}
.total-wrap{
    display: flex;
}
.mobile-wrap{
    display: none;    
}
.fixed{
    position: fixed;
}
.none{
    display: none;
}
.seoul-txt{
    color: #010e74;
}
.incheon-txt{
    color: #0d2537;
}
.gyeongju-txt{
    color:  #43163e;
}
.busan-txt{
    color:  #1f3561;
}
.jeju-txt{
    color: #134721;
}
/* hambuger */
.ham {
    position: fixed;
    top: 14px;
    left: 16px;
    cursor:pointer;
    display: none;
    z-index: 21;
    transition: left .5s ease;
}
.ham span {
    display: block;
    background: #2b2b2b;
    width: 28px;
    height: 4px;
    border-radius: 3px;
    transition: margin 0.25s 0.25s, transform 0.25s ;
}
.ham .bar1 {margin-bottom: 5px;}
.ham .bar3 {margin-top: 5px;}
.ham.active{left: 226px;}
.ham.active span {transition: margin 0.25s, transform 0.25s 0.25s;} 
.ham.active .bar1 {
    margin-top: 8px;
    margin-bottom: -4px;
    transform: rotate(45deg);
}
.ham.active .bar2 {
    transform: rotate(45deg);
}
.ham.active .bar3 {
    margin-top: -4px;
    transform: rotate(135deg);
}
/* header */
.header{
    width: 320px;
    height: 100vh;
    background-color: #fff;
    padding: 0 30px;
    z-index: 1;
}
.header .logo{
    width: 80px;
    height: 80px;
    margin-top: 30px;
}
.header .menu-left-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.menu-left-box .menu-left li{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;
}
.menu-left-box .menu-left li a.on{
    color: #007042;
}
.menu-left-box .menu-left li + li{
    margin-top: 10px;
}
.menu-left-box .menu-left li span + span{
    margin-left: 16px;
}
.header .copyright{
    position: absolute;
    bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
}
/* menu */
.menu-right{
    display: flex;
    justify-content: end;
    align-items: center;
    right: 0;
    padding: 30px 70px;
    z-index: 1;
}
.menu-right .sub-menu{
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
}
.menu-right .sub-menu a{
    display: block;
    color: #2b2b2b;
}
.menu-right .sub-menu a::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background-color: #007042;
    margin-top: 4px;
    transition: all .5s ease;
}
.menu-right .sub-menu:hover a::after{
    width: 100%;
}
.menu-right .sub-menu + .sub-menu{
    margin-left: 50px;
}
/* background-txt */
.bg-txt{
    font-size: 5rem;
    font-family: 'Candal', sans-serif;
    color: #eee;
    opacity: .6;
    top: 48%;
    left: 940px;
    transform: translateY(-50%);
    z-index: -1;
}

/* city-contents */
.city-contentbox{
    width: calc(100% - 320px);
    height: 100vh;
    margin-left: 320px;
}
.city-contentbox .content-box{
    height: 100vh;
    display: flex;
}
.content-box .middle-box{
    width: 560px;
    position: relative;
}
.content-box .middle-box > img{
    height: 100vh;
}
.content-box .middle-box .tumblr-box{
    width: 410px;
    height: 600px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* swiper css */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*  */
.content-box .right-box{
    width: calc(100% - 560px);
    position: relative;
    display: flex;
    align-items: center;
}
.content-box .right-box .content-txt{
    font-family: 'Nanum';
    padding: 0 60px;
}
.content-box .right-box .content-txt .content-title{
    font-size: 1.375rem;
    font-weight: bold;
    margin-bottom: 18px;
}
.content-box .right-box .content-txt .content-sub{
    font-size:  1.125rem;
    line-height: 1.5;
}
.content-box .right-box .product-txt{
    font-size: 1.125rem;
    text-align: right;
    padding: 0 70px;
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    right: 20px;
    bottom:20px;
}
@media screen and (max-width:1500px){
    .menu-right .sub-menu + .sub-menu{
        margin-left: 20px;
    }
}
@media screen and (max-width:1400px){
    .bg-txt{
        font-size: 4rem;
        left: 650px;
    }
    .ham {
        display: block;
    }
    .header{
        position: fixed;
        left: -270px;
        top: 0;
        width: 270px;
        z-index: 20;
        transition: all .5s ease;
    }
    .header.active{
        left: 0;
    }
    .city-contentbox{
        width: calc(100% - 60px);
        margin-left: 60px;
    }
    .content-box .right-box .content-txt{
        padding: 0 20px;
    }
    .menu-right{
        padding: 10px 20px;
    }
    .menu-right .sub-menu{
        font-size: 1.125rem;
    }
}