/* common */
.total-wrap{
    display: flex;
}
/* header */
.header{
    width: 320px;
    height: 100vh;
    background-color: #fff;
    padding: 0 30px;
    position: fixed;
    z-index: 1;
}
.header .logo{
    width: 110px;
    height: 110px;
}
.header .menu-left-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.menu-left-box .menu-left li{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
}
.menu-left-box .menu-left li.on{
    color: #007042;
}
.menu-left-box .menu-left li + li{
    margin-top: 10px;
}
.menu-left-box .menu-left li span + span{
    margin-left: 16px;
}
.header .copyright{
    position: absolute;
    bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
}
/* body-box */
.content-outter-fixed{
    width: calc(100% - 320px);
    height: 100vh;
    right: 0;
    position: fixed;
    display: flex;
}
.middle-box{
    width:560px;
    height: 100vh;
}
.right-box{
    width: calc(100% - 560px);
    height: 100vh;
}
/* right-menu */
.right-box .menu-right-box{
    width: 100%;
    height: 140px;
    background-color: #fff;
    padding: 30px;
}
.right-box .menu-right-box .menu-right{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 50px;
}
.right-box .menu-right-box .menu-right .sub-menu{
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
}
.right-box .menu-right-box .menu-right .sub-menu a{
    display: block;
    color: #2b2b2b;
}
.right-box .menu-right-box .menu-right .sub-menu a::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background-color: #007042;
    margin-top: 4px;
    transition: all .5s ease;
}
.right-box .menu-right-box .menu-right .sub-menu:hover a::after{
    width: 100%;
}
.right-box .menu-right-box .menu-right .sub-menu + .sub-menu{
    margin-left: 50px;
}
.right-box .bg-txt-box{
    height:calc(100vh - 140px);
}
.right-box .bg-txt-box .bg-txt{
    font-size: 5rem;
    font-family: 'Candal', sans-serif;
    color: #eee;
    opacity: .6;
    padding: 0 130px;
    margin-top: calc((100vh - 450px)/2);
}

/* city-contents */
.city-contentbox{
    width: calc(100% - 320px);
    height: 100vh;
    margin-left: 320px;
}
.city-contentbox .content-box{
    /* background-color: indianred; */
    height: 100vh;
    display: flex;
}
.city-contentbox .content-box:nth-child(2){
    background-color: orange;
}
.content-box .middle-box img{
    height: 100%;
}
.content-box .right-box{
    position: relative;
}
.content-box .right-box .content-txt{
    position: absolute;
    top: 50%;
    font-family: 'Nanum';
    padding: 0 60px;
}
.content-box .right-box .content-txt .content-title{
    font-size: 1.375rem;
    font-weight: bold;
    margin-bottom: 18px;
}
.content-box .right-box .content-txt .content-sub{
    font-size:  1.125rem;
}